@import "./variables.css";

.overview-today {
  font-family: "Inter", sans-serif;
  position: relative;
  width: 100%;
  margin-top: 45px;
  padding: 0 25px 25px;
}

.overview-today .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1114px;
  margin: 0 auto;
}
.overview-today .content-wrapper h2 {
  font-size: 22px;
  font-weight: 700;
}
.overview-today .content-wrapper .cards-wrapper {
  padding-top: 30px;
  display: grid;
  grid-template-rows: repeat(8, auto);
  place-items: center;
  row-gap: 17px;
  width: 100%;
}

/* Light Theme Styles  */
.overview-today.light-theme .content-wrapper h2 {
  color: var(--dark-gray-blue);
}

/* Dark Theme Styles  */
.overview-today.dark-theme .content-wrapper h2 {
  color: var(--white);
}
@media screen and (min-width: 1280px) {
  .overview-today .content-wrapper .cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 24px;
  }
  .overview-today {
    padding-bottom: 0;
  }
}
